h1{
    width: 100%;
    max-width: 600px;
    border: 2px rgb(26, 14, 117) dotted ;
    margin: auto;
    text-align: center;
    padding: 20px;
}

section{
    width: 40%;
    float: left;
    border: double red 2px;
    margin: 20px;
    padding: 15px 25px;
    border-radius: 100%;
    background-image: url(../../html.png);
    overflow: hidden;
    background-repeat: repeat;
    background-size: cover;
    background-position: 50% 50%;
}